/*primari-text SLATE
title-text  NAVYBLUE
accent  IRIS
 */
:root {
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --accent-color: #4D5AE5;
    --page-title-color: #FFFFFF;
    --logo-color: #F4F4FD;
    --footer-text-color: #E7E9FC;
    --button-background-color: #E7E9FC;
    --buttin-color: #404BBF;
}


body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    font-size: 16px;
    background-color: var(--page-title-color);
}

.list{
    list-style: none;
}

.logo {
    text-decoration: none;
    list-style-type: none;
    color: var(--title-text-color);
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 800px;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
}

.logo-style {
    color: var(--accent-color);
}

.nav-link {
    text-decoration: none;
    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.nav-link:hover, 
:focus{
    color:var(--accent-color)
}

.contact-link {
    text-decoration: none;
    color: var(--primary-text-color);
    font-style: normal; 
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contact-link:hover,
:focus {
    color: var(--accent-color)
}

.intro {
    background-color: var(--title-text-color);
   
}

.hiro-title{
    color: var(--page-title-color);
        font-size: 54px;
        line-height: 1.11;
        letter-spacing: 0.02em;
}

.button {
    background-color: var(--accent-color);
    color: var(--page-title-color);
    font-weight: 500;
    top: 428px;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: normal;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}
.future-title{
font-style: normal;
font-weight: 500;
color: var(--primary-text-color);
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}

.future-text{
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.card_name{
color: var(--title-text-color);
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}

.card_prof{
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer{
    background-color: var(--title-text-color);

}

.logo-footer{
    color: var(--logo-color);
    font-style: normal;
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
}

.footer-text{
    color: var(--footer-text-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.button-line{
    background-color: var(--button-background-color);
    color: var(--accent-color);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.button-line:hover,
:focus{
    color: var(--page-title-color);
    background-color: var(--buttin-color);
}

.card-title{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    }

.card-text{
    line-height: 1.5;
    letter-spacing: 0.02em;
}